/* 
1. Positioning 
2. Box Model
3. Typography
4. Visuals
5. Others
*/

/* general styles */
:root {
    /* colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}


/* header */
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header--title-container h1 {
    color: var(--just-white);
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
}

.header--title-container p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--just-white);
    margin-top: 24px;
}

.header--title-container .header--button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px 0px #59491E29;
    border: none;
    border-radius: 4px;

    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.823rem;
    color: var(--warm-black);
    text-align: center;

    text-decoration: none;
}


.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

/* main */
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: url("./assets/img/Bitcoin.svg") center / cover no-repeat;
}

.main-exchange-container h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

.main-exchange-container--title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
    margin-top: 24px;
    margin-bottom: 48px;
}


.main-tables-container__coins-table .coins-table__title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 23.44px;
    color: #FF9536;
    position: relative;
    right: 49px;
    margin-bottom: 12px;

}

.coins-table_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    /* margin-bottom: 16px; */
}

.coin-container {
    gap: 1px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.coin {
    font-family: "Inter", sans-serif;
    width: 101px;
    height: 39px;
    padding: 10px 12px;
    background-color: var(--just-white);

    text-align: left;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.936rem;
    color: #B5B0AC;

}

.price-coins {
    font-family: "Inter", sans-serif;
    width: 101px;
    height: 39px;
    padding: 10px 12px;
    background-color: var(--just-white);

    text-align: left;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.936rem;
    color: #757575;
}

.top-left {
    border-top-left-radius: 8px;
}

.top-right {
    border-top-right-radius: 8px;
}

.bottom-left {
    border-bottom-left-radius: 8px;
}

.bottom-right {
    border-bottom-right-radius: 8px;
}

.coin-icon-down {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-down.svg");
}

.coin-icon-up {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 10px;
    background-image: url("./assets/icons/trending-up.svg");
}

.updated-text {
    display: flex;
    justify-content: center;
}

.updated {
    display: flex;
    width: 173px;
    height: 31px;
    border-radius: 8px;
    gap: 4px;
    background-color: var(--soft-orange);

    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.452rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.coins-table__icon {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(./assets/icons/right-arrow.svg) center no-repeat;
    right: -130px;
    top: -92px;
}

/* cards */
.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    background-color: var(--warm-black);
}

.product-detail--potato-log {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background: url("assets/icons/batata.svg");
}

.product-detail--title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px #00000029;
}

.product-detail--card .clock{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background: url("assets/icons/clock.svg") center / cover  no-repeat;
}

.product-detail--card .eye{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background: url("assets/icons/eye.svg") center / cover  no-repeat;
}

.product-detail--card .dollar{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background: url("assets/icons/dollar-sign.svg") center / cover  no-repeat;
}

.product-detail--card .check{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background: url("assets/icons/check-circle.svg") center / cover  no-repeat;
}

.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}